# --- Systemy operacyjne ---
.DS_Store
Thumbs.db

# --- Android Studio / IntelliJ ---
.idea/
*.iml
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# --- Buildy (to najważniejsze!) ---
build/
/*/build/

# --- Pliki binarne i klucze ---
*.apk
*.aar
*.jks
*.keystore

# --- Google Services (Firebase) ---
# Jeśli projekt jest publiczny, warto rozważyć ignorowanie tego pliku,
# ale w projektach studenckich często się go zostawia dla wygody zespołu.
# google-services.json