# --- Systemy operacyjne ---
.DS_Store
Thumbs.db

# --- Android Studio / IntelliJ ---
.idea/
*.iml
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# --- Buildy (to najważniejsze!) ---
build/
/*/build/

# --- Pliki binarne i klucze ---
*.apk
*.aar
*.jks
*.keystore

# Firebase configuration file
app/google-services.json